body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'Architects Daughter', cursive;
}

#button1{
    background: rgb(19, 184, 235);
}

#button2{
    background:rgb(209, 60, 164);
}